@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Noticia+Text:ital@0;1&display=swap);

$fontNoticia: 'Noticia Text', serif;

$gradienteuno: linear-gradient(#d7e8d2 ,#3ab02b);

$gradientedos: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

$coloruno: #d7e8d2;
$colordos: #519548;